{% extends "picture/base.html" %}

{% block content %}
<div class="text-xs-center">

	<div class="row p-b-1">
		<div class="col-md-4"></div>
		<form id="line-unveil-form" action=" {% url 'picture-line-unveil' %} " method="post" accept-charset="utf-8">
			{% csrf_token %}
			<div class="form-group">
				<div class="col-md-2">
					<input class="form-control" type="number" name="number" placeholder="# Of Pixels" />
				</div>
				<div class="col-md-2">
					<input class="btn btn-primary form-control pull-md-right" type="submit" value="Unveil" />
				</div>
			</div>
		</form>
		<div class="col-md-4"></div>
	</div>

	{% if picture.complete %}
		<div class="text-xs-center">
			All Uncovered!
		</div>
	{% endif %}
	<img src="{{ picture.covered_image.url }}?rand=1234" alt="picture"/>
</div>

	
{% endblock %}
