{% extends "picture/base.html" %}
{% load static %}

{% block title %}Million Dollar Surprise{% endblock %}

{% block extra_scripts %}
	<script src='{% static "js/main.js" %}'></script>
{% endblock %}

{% block content %}
<div class="text-xs-center">

	<div class="row">
		<div id="picture-unveil-section" class="col-md-6">
			<div class="row p-b-1 p-t-1">
				<form id="line-unveil-form" action="." method="post" accept-charset="utf-8">
					{% csrf_token %}
					<div class="form-group">
						<div class="row p-b-1">
							<div class="col-md-4 text-md-right">
								{{ form.number.label_tag }}
							</div>
							<div class="col-md-7">
								{{ form.number }} {{ form.number.errors }}
							</div>
						</div>
						<div class="row p-b-1">
							<div class="col-md-4 text-md-right">
								{{ form.name.label_tag }}
							</div>
							<div class="col-md-7">
								{{ form.name }} {{ form.name.errors }}
							</div>
						</div>
						<div class="row p-b-1">
							<div class="col-md-4 text-md-right">
								{{ form.url.label_tag }}
							</div>
							<div class="col-md-7">
								{{ form.url }} {{ form.url.errors }}
							</div>
						</div>
						<div class="row p-b-1">
							<div class="col-md-4"></div>
							<div class="col-md-4">
								<input class="btn btn-primary form-control" type="submit" value="Unveil" />
							</div>
						</div>
					</div>
				</form>
			</div>
			{% if picture.complete %}
				<div class="text-xs-center">
					All Uncovered!
				</div>
			{% endif %}
			<img src="{{ picture.covered_image.url }}?rand=1234" alt="picture"/>
		</div>

		<div id="leaderboard-section" class="col-md-6">
			<div class="row p-b-1 p-t-1">
				{% for note in payment_notes %}
					{% include "picture/note.html" %}
				{% endfor %}
				<div class="col-md-4"></div>
				<div class="col-md-4"></div>
			</div>
		</div>
		
	</div>


</div>

	
{% endblock %}
