:root {
	--color-1: #951F2B;
	--color-2: #535233;
	--color-3: #A5A36C;
	--color-4: #E0DFB1;
	--color-5: #F5F4D7;
}

/*.pixels {*/
	/*height: 200px;*/
	/*overflow-y: auto;*/
/*}*/

body {
	background-color: #dee2ce;
}

.pixel {
	width: 10px;
	height: 10px;
	display: inline-block;
	margin: 0;
	border: 1px solid black;
}

#leaderboard-section {
	background-color: #f1f5e2;
}

a.leaderboard-item {
	color: inherit;	
}

a.leaderboard-item .card {
	background-color: var(--color-4);
}

a.leaderboard-item:hover {
	text-decoration: inherit;
}

a.leaderboard-item:focus {
	text-decoration: inherit;
}

a.leaderboard-item:hover .card {
	background-color: var(--color-5);
}

.btn-primary, .btn-primary:focus, .btn-primary:active{
	background-color: var(--color-1);
	border: 1px solid var(--color-2);
	outline: none;
}

.btn-primary:hover, .btn-primary:active:focus  {
	color: var(--color-2);
	background-color: var(--color-5);
	border: 1px solid var(--color-2);
}

.picture {
	/*border: 15px solid #3e2b14;*/
	/*padding: 10px;*/
	max-width: 100%;
	max-height: 700px;

	-webkit-box-shadow:
		0px 0px 0px 2px rgba(0,0,0,0.6),
			0px 0px 0px 14px #fff,
			0px 0px 0px 18px rgba(0,0,0,0.2),
			6px 6px 8px 17px #555;

	-moz-box-shadow:
		0px 0px 0px 2px rgba(0,0,0,0.6),
			0px 0px 0px 14px #fff,
			0px 0px 0px 18px rgba(0,0,0,0.2),
			6px 6px 8px 17px #555;

	box-shadow:
		0px 0px 0px 2px rgba(0,0,0,0.6),
			0px 0px 0px 14px #fff,
			0px 0px 0px 18px rgba(0,0,0,0.2),
			6px 6px 8px 17px #555;
}
